<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="./css/font.css" th:href="@{/css/font.css}">
        <link rel="stylesheet" href="./css/xadmin.css" th:href="@{/css/xadmin.css}">
        <script type="text/javascript" src="./lib/layui/layui.js" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
        <script type="text/javascript" src="./js/xadmin.js" th:src="@{/js/xadmin.js}"></script>
        <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <form class="layui-form layui-col-space5">
                                <div class="layui-inline layui-show-xs-block" id="a">
									<input type="text"  placeholder="请输入委托单位" autocomplete="off" class="layui-input" id="wtUnit">
								</div>
								<div class="layui-inline layui-show-xs-block" id="b">
									<input type="text"  placeholder="请选择开始时间" autocomplete="off" class="layui-input" id="start">
								</div>
								<div class="layui-inline layui-show-xs-block" id="c">
									<input type="text"  placeholder="请选择结束时间" autocomplete="off" class="layui-input" id="end">
								</div>
                                <div class="layui-inline layui-show-xs-block">
                                    <button type="button" class="layui-btn" id="sreach"><i class="layui-icon">&#xe615;</i></button>
                                </div>
                            </form>
                        </div>
                        <div class="layui-card-body ">
                            <table class="layui-table layui-form" id="table" lay-filter='test'></table>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
	</body>
	<script type="text/html" id="operation">
		<div class="layui-btn-container">
			<button class="layui-btn layui-btn-sm" lay-event="info">详情</button>
		</div>
	</script>
    <script>
			layui.use(['table','jquery','laydate','layer'], function(){
				var table = layui.table,
					$ = layui.jquery,
					laydate = layui.laydate,
					layer = layui.layer;

				laydate.render({
					elem: '#start',
				});
				laydate.render({
					elem: '#end',
				});
                table.render({
                    elem: "table",
                    id: "table",
                    url: "getWtArrearsDetails",
                    method: "post",
                    height: "full-130",
                    page: true,
                    limit: 10,
                    text: {
                        none: "暂无相关数据!"
                    },request: {
                        pageName: 'pageNum',//页码的参数名称，默认：page
                        limitName: 'pageSize' //每页数据量的参数名，默认：limit
                    },
                    cols: [
                        [
						    {field:"wtUnit", title:"委托单位"},
                            {field:"arrearsAmount", title:"委托单位欠费金额"},
                        ]
                    ], response: {
                        statusCode: 1 //重新规定成功的状态码为 200，table 组件默认为 0
                    }
                    , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                        return {
                            "code": res.code, //解析接口状态
                            "msg": res.msg, //解析提示文本
                            "count": res.data.total, //解析数据长度
                            "data": res.data.list //解析数据列表
                        };
                    }
                })
//				table.on('tool(test)',function(obj){
//					if(obj.event=="info"){
//						parent.contractInfo()
//					}
//				})
				$("#sreach").on("click",function(){
					table.reload('table',{
						where:{
						    wtUnit:$("#wtUnit").val(),
                            startTime:$("#start").val(),
                            endTime:$("#end").val()
                        }
					})
				})
			});
    </script>
</html>