<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>已完成任务</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
    ">
    <link rel="stylesheet" href="css/weui.min.css" th:href="@{/css/weui.min.css}">
    <link rel="stylesheet" href="css/jquery-weui.css" th:href="@{/css/jquery-weui.css}">
    <link rel="stylesheet" href="css/demos.css" th:href="@{/css/demos.css}">
    <link rel="stylesheet" href="css/iconfont.css" th:href="@{/css/iconfont.css}">
    <link rel="stylesheet" href="css/submit.css" th:href="@{/css/submit.css}">
    <style>
        .weui-cell__bd {
            font-size: 14px !important;
        }
    </style>
</head>
<body ontouchstart>
<div class="zdy-top">

</div>
<div class="zdy-card">
    <div class="weui-cells weui-cells_form" style="margin-top: 0;">
        <div class="zdy-title">任务详情</div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">
                    <span class="iconfont icon-renwu-"></span>
                    <p><span><b>任</b><b>务</b><b>内</b><b>容</b></span></p>
                </label>
            </div>
            <div class="weui-cell__bd" th:text="${taskInfo.taskDes}">
                检测报告方法标准问题整改
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">
                    <span class="iconfont icon-source"></span>
                    <p><span><b>任</b><b>务</b><b>来</b><b>源</b></span></p>
                </label>
            </div>
            <div class="weui-cell__bd" th:text="${taskInfo.source}">
                公司
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">
                    <span class="iconfont icon-riqi"></span>
                    <p><span><b>任</b><b>务</b><b>节</b><b>点</b></span></p>
                </label>
            </div>
            <div class="weui-cell__bd" th:text="${#dates.format(taskInfo.endDate, 'yyyy-MM-dd')}">
                2012-12-12
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">
                    <span class="iconfont icon-bumen"></span>
                    <p><span><b>责</b><b>任</b><b>部</b><b>门</b></span></p>
                </label>
            </div>
            <div class="weui-cell__bd" th:text="${taskInfo.deptName}">
                部门
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">
                    <span class="iconfont icon-zhongyaodengji"></span>
                    <p><span><b>等</b><b>级</b></span></p>
                </label>
            </div>
            <div class="weui-cell__bd" th:text="${taskInfo.levelName}">
                一级
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">
                    <span class="iconfont icon-beizhu-"></span>
                    <p><span><b>备</b><b>注</b></span></p>
                </label>
            </div>
            <div class="weui-cell__bd" th:text="${taskInfo.note}">
                啦啦啦啦
            </div>
        </div>
    </div>
</div>


<div class="zdy-card-end">
    <div class="weui-cells weui-cells_form" style="margin-top: 0;">
        <div class="zdy-title">任务节点</div>

        <div class="item">
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">
                        <span class="iconfont icon-shijian"></span>
                        <p><span><b>提</b><b>交</b><b>时</b><b>间</b></span></p>
                    </label>
                </div>
                <div class="weui-cell__bd" th:text="${#dates.format(taskInfo.createTime, 'yyyy-MM-dd')}">
                    2018-12-12
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">
                        <span class="iconfont icon-ren"></span>
                        <p><span><b>提</b><b>交</b><b>人</b></span></p>
                    </label>
                </div>
                <div class="weui-cell__bd" th:text="${taskInfo.userName}">
                    张三
                </div>
            </div>
        </div>

        <div class="item">
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">
                        <span class="iconfont icon-shijian"></span>
                        <p><span><b>审</b><b>批</b><b>时</b><b>间</b></span></p>
                    </label>
                </div>
                <div class="weui-cell__bd" th:text="${#dates.format(approverLog.createDate, 'yyyy-MM-dd')}">
                    2018-12-12
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">
                        <span class="iconfont icon-ren"></span>
                        <p><span><b>审</b><b>批</b><b>人</b></span></p>
                    </label>
                </div>
                <div class="weui-cell__bd" th:text="${approverLog.userName}">
                    张三
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">
                        <span class="iconfont icon-meijieguo"></span>
                        <p><span><b>审</b><b>批</b><b>结</b><b>果</b></span></p>
                    </label>
                </div>
                <div class="weui-cell__bd" th:text="${approverLog.reason}">
                    通过
                </div>
            </div>

        </div>

        <div class="item">

            <div class="weui-cell">
                <div class="weui-uploader__bd">
                    <ul class="weui-uploader__files" id="uploaderFiles">
                        <img class="weui-uploader__file" th:src="@{'/upload/'+${completeLog.filepath}}"
                             src="C:\Users\zhang\AppData\Local\Temp\tomcat-docbase.9153788081208511312.80\upload\20190901122152Screenshot_2019-08-30-11-05-52-57.png"
                             id="pic"></img>
                    </ul>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">
                        <span class="iconfont icon-meijieguo"></span>
                        <p><span><b>完</b><b>成</b><b>情</b><b>况</b></span></p>
                    </label>
                </div>
                <div class="weui-cell__bd" th:text="${completeLog.reason}">
                    啦啦啦啦
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">
                        <span class="iconfont icon-shijian"></span>
                        <p><span><b>提</b><b>交</b><b>时</b><b>间</b></span></p>
                    </label>
                </div>
                <div class="weui-cell__bd" th:text="${#dates.format(completeLog.createDate, 'yyyy-MM-dd')}">
                    2018-12-12
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">
                        <span class="iconfont icon-ren"></span>
                        <p><span><b>提</b><b>交</b><b>人</b></span></p>
                    </label>
                </div>
                <div class="weui-cell__bd" th:text="${completeLog.userName}">
                    张三
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">
                        <span class="iconfont icon-meijieguo"></span>
                        <p><span><b>情</b><b>况</b></span></p>
                    </label>
                </div>
                <div class="weui-cell__bd" th:if="${taskInfo.firstDate != null}">
                    提前完成（[[${taskInfo.firstDate}]]天）
                </div>
                <div class="weui-cell__bd" th:if="${taskInfo.overDate != null}">
                    超期完成（[[${taskInfo.overDate}]]天）
                </div>
            </div>

        </div>

    </div>
</div>

<script src="js/jquery-2.1.4.js" th:src="@{/js/jquery-2.1.4.js}"></script>
<script src="js/fastclick.js" th:src="@{/js/fastclick.js}"></script>
<script>
    $(function () {
        FastClick.attach(document.body);
    });
</script>
<script src="js/jquery-weui.js" th:src="@{/js/jquery-weui.js}"></script>


<script>
    $("#showTooltips").click(function () {

    });
</script>
</body>
</html>
